@import url(https://fonts.googleapis.com/css?family=Roboto:300);

/* 폰트, 박스사이즈 포함 기본 틀 */
* {
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
}

#checkbox, .btn span { /* Hide the checkbox input & word "Menu" in the button */
  display: none;
}

/* Menu 버튼 */
.btn {
    display: block;
    float: right;
    /* background-color: #eda11e; */
    color: #eda11e;
    width: 60px;
    height: 55px;
    line-height: 50px;
    padding: 0 20px;
    cursor: pointer;
    padding-right: 2%;
    transition: width .3s ease-in-out;
}


/* Sidebar */
.sidebar {
    margin-left: 76.6%;
    margin-top: 50px;
    background-color: #3f4145;
    position: absolute;
    width: 250px;
    height: 100%;
    transition: transform .3s ease-in-out;
    transform: translateX(+250px);
}

/* Sidebar - 메뉴항목 리스트 틀  */
.sidebar ul {
    padding: 1%;
    margin: 0;
    list-style-type: none;
}
/* Sidebar - 메뉴 개별항목 (마이페이지/밥사줄게/밥사주세요/채팅함) */
.sidebar ul a {
    position: relative;
    text-decoration: none;
    display: block;
    background-color: transparent;
    color: #BAB5BD;
    padding: 15px 20px;
    font-size: 16px;
}

/* Sidebar - 메뉴 개별항목 활성화 후 */
.sidebar ul a:hover, .sidebar ul a.active {
    background-color: #21242b;
    color: #fff;
}

/* Sidebar - 메뉴 개별항목 활성화 전 */
.sidebar ul a:hover::before, .sidebar ul a.active::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-color: #e16d25;
    width: 4px;
    height: 100%;
}

/* 체크박스, 메뉴 버튼 */
/* #checkbox:checked + .btn {
    width: 250px;
    padding: 0 20px;
} */

/* 메뉴 아이콘 클릭-> 체크버튼 활성화 -> 사이드바 슬라이드 */
#checkbox:checked ~ .sidebar {
    transform: translateX(0);
}

/* 메뉴 아이콘 클릭하면 Menu 글씨 출력 */
#checkbox:checked + .btn span { /* Show again the word "Menu" in the button */
    display: inline;
}
