/* 기본 틀 : 폰트,여백 설정 */
@font-face {
    src: url('font/NanumSquareRoundOTFL.otf') format("truetype");
    font-family: "NN";
    font-weight: 100;
}
@font-face {
    src: url('font/NanumSquareRoundOTFR.otf') format("truetype");
    font-family: "NN";
    font-weight: 400;
}
@font-face {
    src: url('font/NanumSquareRoundOTFB.otf') format("truetype");
    font-family: "NN";
    font-weight: 700;
}
@font-face {
    src: url('font/NanumSquareRoundOTFEB.otf') format("truetype");
    font-family: "NN";
    font-weight: 900;
}

*{
    font-family: 'NN';
    margin:0;
}

.notice{
    margin: 32px 20px 0px; 
    font-size: 15px;
    font-weight: 700;
}

/* header 부분 */
.notice .notice_header{
    display: flex;
    justify-content: space-between; 
    margin-bottom: 35px;
    font-size: 18px;
}
/* header 왼쪽 부분: 뒤로가기 아이콘, 페이지 제목 */
.notice .notice_hleft {
    display: flex;
}
.notice .notice_hleft .notice_pagetitle{
    padding-left: 15px;
}

/* home 페이지와 공통 */
/* 게시물 상단 부분 (회색 직선 기준으로 윗부분) home_top_part */
#home_top_part {
    display: flex;
    border-bottom: 1px solid rgba(112,112,112,0.14);
    margin-bottom: 14.5px;
}

#home_top_part #home_info{
    display: flex;
}
#home_top_part #hname {
    padding: 3px 10px 0;
    font-size: 15px;
    font-weight: bold;
}

#home_top_part #hmbti {
    background-color: #FFCE00;
    height: fit-content;
    margin: 2px 5px 0 0;
    padding: 1px 7.5px;
    border-radius: 9px;
    font-size: 13px;
    color: #fff;
    font-weight: 900;
}
#home_top_part #hnumber {
    background-color: #fff;
    height: fit-content;
    margin-top: 2px;
    padding: 0px 4.5px;
    border-radius: 9px;
    font-size: 13px;
    color: #FFCE00;
    border: 1px solid #FFCE00;
    font-weight: 900;
}
#home_top_part #hmajor, #htime {
    font-size: 10px;
    color: rgba(0,0,0,0.42);
    padding-left: 10px;
    padding-top: 2px;
}

#home_top_part #htime {
    margin-left: auto;
}
/* 게시물 하단 부분 (회색 직선 기준으로 아랫부분) notice_bottom_part */
.notice_bottom_part .notice_item {
    padding-left:8px;
    
}
.notice_item_title {
    padding-bottom: 16px;
}
.notice_bottom_part .notice_item_content {
    font-size: 13px;
    font-weight: 400;
    
}
/* 게시물 하단 부분 - 일시/장소 포함 밥약 신청박스 */
.notice_promise_info {
    border: 1px solid rgba(112,112,112,0.14);
    border-radius: 15px;
    padding:15px;
    align-items: center;
    
}

.notice_bottom_part > div.notice_promise_info > div:nth-child(1){
    display: flex;
    padding-bottom: 21px;
}

.notice_bottom_part > div.notice_promise_info > div:nth-child(1) .date, .place{
    color: rgba(0,0,0,0.5);
}
.notice_bottom_part > div.notice_promise_info > div:nth-child(2){
    display: flex;
    padding-bottom: 27px;
}

.notice_bottom_part > div.notice_promise_info > div:nth-child(1) .date_text, .place_text{
    margin: 0;
    position: fixed;
    left: 90px;
}

/* 게시물 하단 부분 - 밥약신청 버튼 */
.notice_btn {
    border: 0; 
    border-radius: 10px;
    background-color: rgba(255,206,0);
    color:#fff;
    font-size: 14px;
    font-weight: 400;
}
